@model IEnumerable<TestEngine.DataBase.customexam>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.examname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.catid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.syllabus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prerequisites)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.partner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ibillproductid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.psproductid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.logo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.questioncount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.offline)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.randomtest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pagename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usepage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.printname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.resultpage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.transcriptpage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.showcorporate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.courseware)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.coursepath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productId2CO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.priority)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.positioning)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.directions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.haspassage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.passagenum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.positive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.odeskexam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recertification)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isbeta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.uploaddate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.passingmarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.examlanguage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.masterexamid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.refid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.refid1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.foreignexamid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.elmlxmlname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isfn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.examenablepartners)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.commoncodelive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isCronbach)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobTitleID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.masterXmlfile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SurCatPageUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.addedby)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isfreezed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isfrree)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.addedbytest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.flagged)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.flagerror)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.flagged1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.showendbtn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idset)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isidset)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.languagetype)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.languagetype1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.examname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.catid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.syllabus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prerequisites)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.partner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ibillproductid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.psproductid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.logo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.questioncount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.offline)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.randomtest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pagename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usepage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.printname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.resultpage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.transcriptpage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.showcorporate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.courseware)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.coursepath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productId2CO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.priority)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.positioning)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.directions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.haspassage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.passagenum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.positive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.odeskexam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.recertification)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isbeta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.uploaddate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.passingmarks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.examlanguage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.masterexamid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.refid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.refid1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.foreignexamid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.elmlxmlname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isfn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.examenablepartners)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.commoncodelive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isCronbach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobTitleID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.masterXmlfile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SurCatPageUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.addedby)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isfreezed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isfrree)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.addedbytest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.flagged)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.flagerror)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.flagged1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.showendbtn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idset)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isidset)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.languagetype)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.languagetype1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.examid }) |
            @Html.ActionLink("Details", "Details", new { id=item.examid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.examid })
        </td>
    </tr>
}

</table>
