

@{
    ViewBag.Title = "SectionInTro";
}
@using TestEngnie.Models.Models
@model SectionIntroModel


<html>
<head>
    @*<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">*@
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="js/jquery.min.js" type="text/javascript"> </script>
    <script src="~/Scripts/js/jquery.bxslider.js"></script>
    <script src="~/Scripts/js/customcode.js"></script>
    <script src="~/Scripts/js/jquery.mCustomScrollbar.concat.min.js"></script>

    <link href="@ViewBag.stylesheetpath1Href" rel="stylesheet" id="stylesheetpath1" type="text/css" />
    <link href="~/CSS/jquery.bxslider.css" rel="stylesheet" />
    <link href="~/fonts/Roboto.css" rel="stylesheet" />
    <link href="~/CSS/jquery.mCustomScrollbar.css" rel="stylesheet" />

    <link href="~/CSS/responsive.css" rel="stylesheet" />




    <script type="text/javascript">

        function disbutton() {
            document.onkeydown = function (e) {
                var browserName = navigator.appName;

                if (browserName == "Netscape") {
                    if (document.addEventListener) {
                        if (e.keyCode == 8) {
                            return false;
                        }
                        else {
                            return true
                        }
                    }
                }
                else {
                    if (window.event.keyCode == 8) {
                        return false;
                    }
                    else {
                        return true
                    }
                }
            }
        }

        function DisableButton() {
            $('#checkanswers').attr("disabled", "true");
        }

        function notmelog() {

            var name =$("#candname").val();
            var x;
            if (confirm("If you are not '" + name + "' please exit this test by clicking on 'OK' button and contact the test administrator.") == true) {
                return true;
            } else {
                return false;
            }

        }

        $(function () {

            var scorpID = "@Model.scorpid";
            if(!("@ViewBag.header1ImgURL"=="" || "@ViewBag.header1ImgURL"==null))
            {
                $("#header1").attr("src","@ViewBag.header1ImgURL");
            }

            if (scorpID == "1209327" || scorpID == "1209328")
            {
                $("#stylesheetpath1").attr("href", "css/stylecanew.css");
                $("#header1").attr("src", "http://www.expertratinginc.com/ca/images/ca-image.png");
                $("#header1").css({"max-height": "70px", "max-width": "350px"});
            } else if (scorpID == "1252039") {
                $("#stylesheetpath1").attr("href", "css/styleey.css");
                $("#header1").css({ "max-height": "70px", "width": "auto !important" });
            } else {
                $("#stylesheetpath1").attr("href", "css/style.css");
            }

            $('#checkanswers').click(function () {
                    debugger;
                    window.onbeforeunload = DisableButton();

                $.ajax({

                        type: "Get",
                    url: "@Url.Action("LoadExam", "SectionIntro")",
                    success: function (data) {
                        // alert(data);
                        if (data == "Index") {
                            window.location.href = "/SectionIntro/" + data+"?attemptid="+"@Model.eInfo.attemptid";
                        }
                        else {
                            window.location.href = "/SectionIntro/" + data;
                        }
                            
                        },
                    error: function (data) {
                            alert("error");
                        }
                    });

                });


        });
    </script>
</head>
<body id="pagebody" onload="return disbutton();">
    <form id="form1">
        <div class="ui-widget-content" style="text-align: left; width: 780px; border-bottom-style: none;">
            <img width="700px" alt="Your browser either does not support images or you have it turned off. To see this page as it is, please enable images"
                 src="images/testimage.PNG" style="height: 15px; color: red; font-family: Verdana; font-size: 12px; width: 100%">
        </div>

        <noscript>
            <div class="ui-widget-content" style="height: auto; position: relative; z-index: 500; margin-bottom: -1000px; width: 780px; border-top-style: none; text-align: left; font-family: Verdana;">
                <span style="color: Red; font-size: 12px;">
                    <br />
                    This page uses Javascript.<br />
                    Your browser either doesn't support Javascript or you have it turned off.<br />
                    Please enable Javascript in your browser to proceed with the test.
                </span>
            </div>
        </noscript>
        <header class="fltLeft">
            <div class="container">
                <div class="logo fltLeft">
                    <img id="header1" alt="" title="Logo" />
                    @*<asp:Image ID="header1" alt="null" title="Logo" runat="server" />*@
                </div>
                <div class="fltRight txtRight pad5 usr_info">
                    <span class="txt_bold fltRight"><label id="lblcname"></label></span> <a href="#" class="disp_block">
                        <label id="candemail" style="display:none;"></label>
                    </a>
                </div>
                <div class="clear"></div>
            </div>
        </header>
        <section class="fltLeft pad20 darkblue_bg">
            <div class="container p_L24 p_R24">
                <h1 class="fltLeft"> &nbsp;</h1>

                <div class="clear"></div>
            </div>
        </section>
        <div class="content-column no-margin">
            <div class="full_width fltLeft bordr_btm d_Table">
                <div class="left_col dark_greybg d_TableCell fltLeft width-100">
                    <h2>
                        <!-- Section Name :  -->
                        <span class="dark_grey_txt">@Model.lang.lblsecInst</span>
                    </h2>
                </div>

            </div>

            <!-- End of Section Name & Time -->

            <div class="full_width fltLeft bordr_btm d_Table box_shadow">
                <div class="left_col d_TableCell">

                    <div class="full_width fltLeft h_scroll pos_rel general-inst">
                        <div class="full_width fltLeft quest_div">
                            <h5>
                                <label id="lblTitle">@Model.lblTitle</label>
                                @*<asp:Label ID="lblTitle" runat="server"></asp:Label>*@
                            </h5>
                            <div class="clear"></div>
                            <ul>
                                <li>
                                    <p>
                                        @Model.lang.lbltotQues: <label id="lblQues">@Model.Question</label>
                                    </p>
                                    <p>
                                        @Model.lang.lblTime: <label id="lblTime">@Model.Time</label>
                                    </p>
                                    @*<p>
                                            <label id="lbloptions"></label>
                                        </p>*@
                                </li>
                            </ul>


                            <div class="clear"></div>
                            @{
                                if (!(ViewBag.Div1text == "" || ViewBag.Div1text == null))
                                {
                                    <ul>
                                        <li>
                                            <div id="Div1">
                                                @Model.Div1text
                                            </div>
                                        </li>
                                    </ul>
                                }
                            }

                            <div>
                                <center>
                                    <input type="button" id="checkanswers" value="@Model.checkanswersText" />
                                    @*<asp:Button runat="server" ID="checkanswers" OnClientClick="this.value='Processing';" CssClass="start-btn" Text="" OnClick="btn_Click" />*@
                                </center>
                            </div>
                            @*<ul>
                                    <li>

                                    </li>
                                </ul>*@

                            <div class="clear"></div>
                            <!-- Start test -->
                            <div class="clear"></div>
                        </div>
                        <!-- End of Question 1 -->
                    </div>
                    <!-- End of Question Area -->
                    <!-- End of Right Section -->
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <input type="hidden" id="attemptid" value="@Model.eInfo.attemptid" />
        <label id="lblbsebjs">@ViewBag.lblbsebjsText</label>
        <input type="hidden" id="candname" value="@Model.uInfo.susername" />
        @*<asp:HiddenField ID="attemptid" runat="server" />
            <asp:Literal ID="lblbsebjs" runat="server"></asp:Literal>
            <asp:HiddenField ID="candname" runat="server" />*@
    </form>

    <div id="SEB">
        @ViewBag.SEBText
    </div>
</body>

</html>



